@using TheGalleryCafe.Models
@model IEnumerable<ApplicationRole>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Roles</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = role.Id })
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = role.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
